<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>CMD</title>
</head>
<body>

<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[ ${msg} ]]*/;
    /*]]*/
    /*<![CDATA[*/
    var url = /*[[ ${url} ]]*/;
    /*]]*/
    if(url != "back") {
        alert(message);
        document.location.href = url;
    } else{
        alert(message);
        history.back();
    }

</script>
</body>
</html>