<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<script type="text/javascript">
    function submitAction(){

        if($("#user_id").val() == ""){
            alert("인증코드를 입력해주세요.");
            $("#user_id").focus();
            return false;
        }

    }
</script>
<body>
<form action="/PasswordCheck" method="post" onsubmit="return submitAction();">

    <h4 th:text="|${id}님의 이메일로 인증코드를 전송했습니다.|"></h4>
    <h4>전송된 인증코드를 입력해주세요.</h4>

    <div class="form-group">
        <label for="user_code">*인증코드</label>
        <input type="text" id="user_code" name="user_code" placeholder="인증코드 입력">
        <input type="submit" id="submit" name="submit" value="확인" >
        <input type="hidden" name="correct_code" th:value="${code}">
        <input type="hidden" name="user_id" th:value="${id}">
    </div>

</form>
</body>
</html>