<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<script type="text/javascript">
    function submitAction(){

        if($("#user_id").val() == ""){
            alert("아이디를 입력해주세요.");
            $("#user_id").focus();
            return false;
        }

    }
</script>
<body>
<form action="/sendEmail" method="post" onsubmit="return submitAction();">

    <h4>회원님의 아이디를 입력해주세요.</h4>

    <div class="form-group">
        <label for="user_id">*아이디</label>
        <input type="text" id="user_id" name="user_id" placeholder="아이디">
        <input type="submit" id="submit" name="submit" value="인증번호 전송" >
    </div>

</form>
</body>
</html>