<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" xmlns:line-height="http://www.w3.org/1999/xhtml" lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/libs/css/style.css">
    <link rel="stylesheet" href="/libs/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/css/chatting.css">
    <script src="https://kit.fontawesome.com/717793cb2b.js" crossorigin="anonymous"></script>
    <title>CMD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        function totalUnreadChat() {
            $.ajax({
                type: "POST",
                url: "/getTotalUnreadChat",
                dataType: "json",
                data: {
                    id: $("#userID").val()
                },
                success: function (result) {
                    if (result >= 1) {
                        $('#totalUnread').html(result);
                    } else {
                        $('#totalUnread').html('');
                    }
                }
            });
        }

        function getInfiniteTotalUnread() {
            setInterval(function () {
                totalUnreadChat();
            }, 4000);
        }

        $(document).ready(function () {
            totalUnreadChat();
            getInfiniteTotalUnread();

            $(".board").css("display", "none");
            $(".friendDelete").css("display", "none");


            $(".frontend").hover(function () {
                $(".frontend_board").css("display", "block");
                $(".backend_board").css("display", "none");
                $(".DBA_board").css("display", "none");
                $(".AI_board").css("display", "none");
                $(".WH_board").css("display", "none");

            });
            $(".backend").hover(function () {
                $(".backend_board").css("display", "block");
                $(".frontend_board").css("display", "none");
                $(".DBA_board").css("display", "none");
                $(".AI_board").css("display", "none");
                $(".WH_board").css("display", "none");
            });
            $(".DBA").hover(function () {
                $(".DBA_board").css("display", "block");
                $(".backend_board").css("display", "none");
                $(".frontend_board").css("display", "none");
                $(".AI_board").css("display", "none");
                $(".WH_board").css("display", "none");
            });
            $(".AI").hover(function () {
                $(".AI_board").css("display", "block");
                $(".DBA_board").css("display", "none");
                $(".backend_board").css("display", "none");
                $(".frontend_board").css("display", "none");
                $(".WH_board").css("display", "none");
            });
            $(".WH").hover(function () {
                $(".WH_board").css("display", "block");
                $(".AI_board").css("display", "none");
                $(".DBA_board").css("display", "none");
                $(".backend_board").css("display", "none");
                $(".frontend_board").css("display", "none");

            });
            $("#friendSetup").click(function () {
                if ($(".friendDelete").is(":visible") == true) {
                    $(".friendDelete").css("display", "none");
                } else if ($(".friendDelete").is(":visible") == false) {
                    $(".friendDelete").css("display", "block");
                }
            });

            $("#withdrawal").click(function () {
                var id = $("#userID").val();
                if (confirm("정말로 회원탈퇴를 하시겠습니까?")) {
                    location.href = "/withdrawalCheck";
                } else {
                    alert("회원탈퇴를 취소합니다.");
                }
            });

        });

    </script>

    <style>
        /* Make the image fully responsive */

        .frontend_board {
            display: none;
        }


        .carousel {
            margin: 4% auto;
        }

        .carousel-inner img {
            width: 100%;
            height: auto;
            border-radius: 25px;
        }

        .carousel-inner {
            border-radius: 25px;

        }

        .carousel-caption {
            font-size: 25px;
        }

        .btn-success {
            color: #fff;
            background-color: #003366d2;
            border-color: #003366d2;
        }

        .btn-success:hover {
            color: #fff;
            background-color: #003366d2;
            border-color: #003366d2;
        }

        .btn-success:focus, .btn-success.focus {
            color: #fff;
            background-color: #003366d2;
            border-color: #003366d2;
            box-shadow: 0 0 0 0.2rem #003366d2;
        }

        .btn-success.disabled, .btn-success:disabled {
            color: #fff;
            background-color: #003366d2;
            border-color: #003366d2;
        }

        .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
        .show > .btn-success.dropdown-toggle {
            color: #fff;
            background-color: #003366d2;
            border-color: #003366d2;
        }

        .img-circle {
            border-radius: 50%;
            border: 1px solid #003366d2;
        }

        .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
        .show > .btn-success.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem #003366d2;
        }


        thead th {
            background-color: #003366d2;
            color: white;
            text-align: center;
        }

        tr td:first-child,
        tr th:first-child {
            border-top-left-radius: 1em;
            border-bottom-left-radius: 1em;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
        }

        tr last-child {
            border-bottom-left-radius: 1em;
            border-bottom-right-radius: 1em;
        }

        table {
            border-collapse: separate !important;
            border-spacing: 0 13px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="header-box">
        <div class="logo"><a href="/main"><img src="/img/CMD-logo.png" alt="logo" height="100%"></a></div>
        <div class="search">
            <nav class="navbar navbar-expand-sm  navbar-dark">
                <form class="form-inline" action="/main_search" method="post">
                    <input class="form-control mr-sm-2" name="keyword" type="text" placeholder="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </nav>
        </div>
        <div class="keyword">실시간 검색</div>
    </div>

    <div class="menu-navbar">
        <nav class="navbar navbar-expand-sm ">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/main">메인</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/cmd_community">
                        커뮤니티
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item frontend" href="/cmdDetail?realm=Frontend">Frontend</a>
                        <a class="dropdown-item frontend_board board" style="color: #003366d2; font-size: 13px;"
                           href="/totalHotTopic?kind=HOT게시판&realm=Frontend">HOT게시판</a>
                        <a class="dropdown-item frontend_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=정보팁게시판&realm=Frontend">정보&팁게시판</a>
                        <a class="dropdown-item frontend_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=자유게시판&realm=Frontend">자유게시판</a>
                        <a class="dropdown-item frontend_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=질문게시판&realm=Frontend">질문게시판</a>
                        <a class="dropdown-item frontend_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=협업게시판&realm=Frontend">협업게시판</a>
                        <a class="dropdown-item frontend_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=로드맵공유게시판&realm=Frontend">로드맵공유게시판</a>
                        <a class="dropdown-item backend" href="/cmdDetail?realm=Backend">Backend</a>
                        <a class="dropdown-item backend_board board" style="color: #003366d2; font-size: 13px;"
                           href="/totalHotTopic?kind=HOT게시판&realm=Backend">HOT게시판</a>
                        <a class="dropdown-item backend_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=정보팁게시판&realm=Backend">정보&팁게시판</a>
                        <a class="dropdown-item backend_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=자유게시판&realm=Backend">자유게시판</a>
                        <a class="dropdown-item backend_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=질문게시판&realm=Backend">질문게시판</a>
                        <a class="dropdown-item backend_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=협업게시판&realm=Backend">협업게시판</a>
                        <a class="dropdown-item backend_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=로드맵공유게시판&realm=Backend">로드맵공유게시판</a>
                        <a class="dropdown-item DBA" href="/cmdDetail?realm=DBA">DBA</a>
                        <a class="dropdown-item DBA_board board" style="color: #003366d2; font-size: 13px;"
                           href="/totalHotTopic?kind=HOT게시판&realm=DBA">HOT게시판</a>
                        <a class="dropdown-item DBA_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=정보팁게시판&realm=DBA">정보&팁게시판</a>
                        <a class="dropdown-item DBA_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=자유게시판&realm=DBA">자유게시판</a>
                        <a class="dropdown-item DBA_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=질문게시판&realm=DBA">질문게시판</a>
                        <a class="dropdown-item DBA_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=협업게시판&realm=DBA">협업게시판</a>
                        <a class="dropdown-item DBA_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=로드맵공유게시판&realm=DBA">로드맵공유게시판</a>
                        <a class="dropdown-item AI" href="/cmdDetail?realm=AI">A.I</a>
                        <a class="dropdown-item AI_board board" style="color: #003366d2; font-size: 13px;"
                           href="/totalHotTopic?kind=HOT게시판&realm=AI">HOT게시판</a>
                        <a class="dropdown-item AI_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=정보팁게시판&realm=AI">정보&팁게시판</a>
                        <a class="dropdown-item AI_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=자유게시판&realm=AI">자유게시판</a>
                        <a class="dropdown-item AI_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=질문게시판&realm=AI">질문게시판</a>
                        <a class="dropdown-item AI_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=협업게시판&realm=AI">협업게시판</a>
                        <a class="dropdown-item AI_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=로드맵공유게시판&realm=AI">로드맵공유게시판</a>
                        <a class="dropdown-item WH" href="/cmdDetail?realm=WhiteHat">White-Hat</a>
                        <a class="dropdown-item WH_board board" style="color: #003366d2; font-size: 13px;"
                           href="/totalHotTopic?kind=HOT게시판&realm=WhiteHat">HOT게시판</a>
                        <a class="dropdown-item WH_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=정보팁게시판&realm=WhiteHat">정보&팁게시판</a>
                        <a class="dropdown-item WH_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=자유게시판&realm=WhiteHat">자유게시판</a>
                        <a class="dropdown-item WH_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=질문게시판&realm=WhiteHat">질문게시판</a>
                        <a class="dropdown-item WH_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=협업게시판&realm=WhiteHat">협업게시판</a>
                        <a class="dropdown-item WH_board board" style="color: #003366d2; font-size: 13px;"
                           href="/board?kind=로드맵공유게시판&realm=WhiteHat">로드맵공유게시판</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
                        채팅
                        <span id="totalUnread" class="badge badge-info"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/friendsFind">친구 찾기</a>
                        <a class="dropdown-item" href="/friendsList">친구 목록</a>
                        <a class="dropdown-item" href="/chatBox">채팅 목록</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/cmd_roadmap">로드맵</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
                        D-MBTI
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">D-MBTI 하기</a>
                        <a class="dropdown-item" href="#">D-MBTI 통계</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop3" data-toggle="dropdown">
                        설문조사
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">설문조사 하기</a>
                        <a class="dropdown-item" href="#">설문조사 통계</a>
                    </div>
                </li>
            </ul>
            <ul class="login-box">
                <li class="nav-item">
                    <a th:if="${session.id == null}" href="/login"><i class="far fa-user"></i> 로그인</a>
                    <a style="margin-left: 10px;" th:if="${session.id == null}" href="/join">회원가입</a>
                </li>

                <li class="nav-item dropdown" th:if="${session.id != null}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <img th:if="${!filename.equals('non') and session.id != null}" class="img-circle"
                             style="width: 35px; height: 35px; border-color:  #003366d2;"
                             th:src="@{/display?(filename=${filename})}"/>
                        <img th:if="${filename.equals('non') and session.id != null}" class="img-circle"
                             style="width: 35px; height: 35px; border-color:  #003366d2;"
                             src="/display?filename=default.png"/>
                        <span th:if="${session.id != null}" th:text="|${session.id}님|" style="margin-left: 3px;"></span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:if="${session.id != null}" href="/userUpdateCheck">회원정보 수정</a>
                        <a class="dropdown-item" th:if="${session.id != null}" href="/logoutAction">로그아웃</a>
                        <a class="dropdown-item" th:if="${session.id != null}" href="#" id="withdrawal">회원탈퇴</a>
                    </div>
                </li>
            </ul>

        </nav>
    </div>
    <div class="fl-layout">
        <div class="fl-box" style="overflow-y:scroll">
            <table>
                <thead>
                <tr>
                    <td>
                        <form action="/search_myFriend" method="post"><input style="border-radius: 7px;" type="text" name="keyword"
                                                                             placeholder="내친구 검색">
                            <button type="submit" style="background: white;  border-radius: 7px;"><img src="/img/search.png"
                                                                                                       style="width:15px; height: 15px; margin-bottom: 4px; margin-top: 4px;">
                            </button>
                        </form>
                    </td>
                    <td align="right">
                        <button id="friendSetup" type="button" style="background: white;  border-radius: 7px;"><img src="/img/setup.png"
                                                                    style="width:15px; height: 15px; margin-bottom: 4px; margin-top: 4px;">
                        </button>
                    </td>
                </tr>
                <tr>
                    <th colspan="5" style="height: 45px;"><span>친구목록</span></th>
                </tr>
                </thead>
                <tbody>
            <tr>
                <td th:if="${!filename.equals('non') and session.id != null}" style=" border-bottom: 1px solid #003366d2;"><img class="img-circle"
                                                                                   style="width: 50px; height: 50px; border-color:  #003366d2;"
                                                                                   th:src="@{/display?(filename=${filename})}"/><a
                        style="margin-left: 5px;" th:text="${session.id}"
                        th:href="@{/chat(friend=${session.id})}"></a><span
                        style="margin-left: 3px; background-color: #003366d2; border-radius: 50%; padding-right: 4px; padding-top: 3px; padding-left: 4px; padding-bottom: 3px; font-size: 3px; color: white;">나</span>
                </td>
                <td th:if="${filename.equals('non') and session.id != null}" style=" border-bottom: 1px solid #003366d2;"><img class="img-circle"
                                                                                  style="width: 50px; height: 50px; border-color:  #003366d2;"
                                                                                  src="/display?filename=default.png"/><a
                        style="margin-left: 5px;" th:text="${session.id}"
                        th:href="@{/chat(friend=${session.id})}"></a><span
                        style="margin-left: 3px; background-color: #003366d2; border-radius: 50%; padding-right: 4px; padding-top: 3px; padding-left: 4px; padding-bottom: 3px; font-size: 3px; color: white;">나</span>
                </td>
            </tr>
            <tr th:each="friendsList : ${friendsList}">
                <td th:if="${friendsList.user_profile != null}"  style=" border-bottom: 1px solid #003366d2;"><img class="img-circle"
                                                                     style="width: 50px; height: 50px; border-color:  #003366d2;"
                                                                     th:src="@{/display?(filename=${friendsList.user_profile})}"/><a
                        style="margin-left: 5px;" th:text="${friendsList.user_id}"
                        th:href="@{/chat(friend=${friendsList.user_id})}"></a><img
                        th:if="${friendsList.user_withdrawal == 1}" src="/img/warning.png"
                        style="width:13px; margin-top: 3px; margin-left: 3px;"/><span
                        th:if="${friendsList.user_withdrawal == 1}"
                        style="margin-left: 2px; margin-top: 4px; font-size: 3px; color: red;">탈퇴한 회원</span></td>
                <td th:if="${friendsList.user_profile == null}"><img class="img-circle"
                                                                     style="width: 50px; height: 50px; border-color:  #003366d2;"
                                                                     src="/display?filename=default.png"/><a
                        style="margin-left: 5px;" th:text="${friendsList.user_id}"
                        th:href="@{/chat(friend=${friendsList.user_id})}"></a><img
                        th:if="${friendsList.user_withdrawal == 1}" src="/img/warning.png"
                        style="width:13px; margin-top: 3px; margin-left: 3px;"><span
                        th:if="${friendsList.user_withdrawal == 1}"
                        style="margin-left: 2px; margin-top: 4px; font-size: 3px; color: red;">탈퇴한 회원</span></td>
                <td><a th:href="@{/friendDelete(user=${session.id},friend=${friendsList.user_id})}">
                    <button class="friendDelete" type="button">삭제</button>
                </a></td>

            </tr>
            </tbody>
        </table>
    </div>
        <div class="chatimg"><img  src="img/chatlist.jpg" alt="chatlist" style="width: 40%; height: 560px; line-height:10px; border-radius: 7px"></div>
    </div>
    <div class="footer-box">
        <div class="author">
            <p><b>Creators - </b>KimLeeEum</p>
            <p><b>email - </b>energizun1001@gamil.com</p>
            <p><b>Domain - </b>www.cmdev.com</p>
        </div>
        <div class="link">
            <ul>
                <li><a href="https://github.com/" target="_blank"><i class="fab fa-github"> GitHub</i></a></li>
                <li><a href="https://stackoverflow.com/" target="_blank"><i class="fab fa-stack-overflow">
                    Stack-Overflow</i></a></li>
            </ul>
            <input type="hidden" id="userID" th:value="${session.id}">
        </div>
    </div>
    <div class="eyebrow"><p>@2021 prod by 김이음</p></div>
</div>
</body>
</html>