<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>insertSurvey</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">

        function addItemContent(){
            $('#items').append("<div id='item'><input type='text' value='' autocomplete='off' name='itemcontent' "
                    +"class='form-control littleq'></div>");
        }

        // function deleteItemContent(){
        //     $('input:last-child').remove();
        // }
    </script>
</head>
<body>
<form action="/insertSurvey" method="post" enctype="multipart/form-data" >
    <div class="form-group">
        <label for="writer">작성자</label>
        <input type="text" id="writer" name="writer" th:value="${session.id}" readonly><br>
        <label for="survey_title"> 제목</label>
        <input type="text" id="survey_title" name="survey_title" placeholder="제목을 입력하세요" autocomplete='off'><br>
        <label for="survey_content"> 내용</label>
        <textarea type="text" id="survey_content" name="survey_content" maxlength="2048" placeholder="내용을 입력하세요" autocomplete='off'></textarea><br>

        <div class="form-group mb-3 col-xs-12 col-sm-6">
            <label for="survey_end" >마감기한</label>
            <input type="text" id="survey_end" name="survey_end" autocomplete="off" placeholder="YYYY-MM-DD"/>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 bigbox surveybox">
            <div id="addsurveybox" class="form-group mb-3 addsurveybox">
<!--                <label for="survey_item_content">질문</label><br>-->
<!--                <input type="text" value="" id="survey_item_content" autocomplete="off" name="survey_title" class="form-control validate survey_item_content"> <br>-->
                <span>선택 리스트</span>
                <div id="items">
                    <div id="item">
                        <input type="text" value="" autocomplete="off" name="itemcontent" class="form-control littleq">
                    </div>
                    <div id="item">
                        <input type="text" value="" autocomplete="off" name="itemcontent" class="form-control littleq">
                    </div>
                </div>

                <input type="button" onclick="addItemContent();" value="추가"/>
            </div>
        </div>
    <button type="submit">설문지등록하기</button>
    </div>
</form>
</body>
</html>