<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.addq_btn').on('click', function () {
                var q = $("<div class='q'><span></span> <input id='name' autocomplete='off' name='itemcontent' type='text' "
                    + "class='form-control littleq'> <button type='button' class='minusq_btn'><b> x</b></button></div>"
                );
                $(this).parent().find('.qbox').append(q);
            });

            $(document).on('click', '.minusq_btn', function () {
                $(this).parent().remove();
            });

            $(document).on('click', 'button', function () {
                $('.addsurveybox').find('.q').each(function (i) {
                    $(this).find('span').text(i + 1);
                });
            });

            $("#submit_btn").on("click", function (event) {
                event.preventDefault();
                var ed = $("#expire_date").val();
                var offset = $("#expire_date").offset();
                if (ed == "") {
                    $("#expire_date").attr("style", "border:solid 2px pink");
                    $('html, body').animate({scrollTop: offset.top - 100}, 2000);
                    noticePopupInit({message: "마감기한을 설정하지않으면 설문을 등록할 수 없습니다.."});
                } else {
                    var now = new Date().format("yyyyMMdd");
                    var edate = ed.split("/")[0] + ed.split("/")[1] + ed.split("/")[2];
                    var interval = eval(edate - now);
                    if (interval <= 0) {
                        $("#expire_date").attr("style", "border:solid 2px pink");
                        $('html, body').animate({scrollTop: offset.top - 100}, 2000);
                        noticePopupInit({message: "마감기한은 현재날짜와 같거나,이전일 수 없습니다..."});
                        $("#expire_date").val("");
                    }
                    if (interval >= 1) {
                        //alert(interval);
                        noticePopupInit({message: "설문등록중입니다^^"});
                        $("#addSurveyForm").submit();
                    }
                }
            });
        });

    </script>
</head>
<body>
<form action="insertSurvey" method="post" enctype="multipart/form-data"
      class="tm-edit-product-form">

    <h2 class="tm-block-title d-inline-block">설문지 등록하기</h2>

<label for="expire_date">마감 기한</label>
<input id="expire_date" name="end_date" type="text" class="datepicker-here form-control validate" autocomplete="off"/>

<h3 class="q_num">질문</h3>
<input id="qno" autocomplete="off" name="title" type="text" class="form-control validate qno" value=""> <br>
<div class="qbox">
    <div class="q">
        <span>1</span> <input value="" name="itemcontent" type="text"
                              class="form-control littleq" autocomplete="off">
    </div>
    <div class="q">
        <span>2</span> <input value="" name="itemcontent" type="text"
                              class="form-control littleq" autocomplete="off">
    </div>
</div>
<button type="button" class="addq_btn">
    <b> +</b>
</button>

<button  id="submit_btn" type="button" class="btn btn-primary btn-block text-uppercase">설문지등록하기</button>

</body>
</html>