<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>설문 테스트</title>
</head>
<body>
<!--<input type="text" th:value="${surveysearch}">-->

<table>
    <tbody>
    <tr th:each="surveyList : ${surveyList}">
        <td th:text="${surveyList.survey_title}"></td>
        <td th:text="${surveyList.survey_content}"></td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
<!--        <li th:if="${pageMaker.prev == true}">-->
<!--            <a aria-label="prev" th:href="@{/mainSurvey?(cri.page=0)}">&lt;</a>-->
<!--        </li>-->
        <li>
            <a th:href="@{/mainSurvey(cri.page=1)}" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>

        <li th:class="${pageMaker.prev == true}">
            <a th:href="@pageMaker.startPage} ? '#' :@{/mainSurvey(page=${cri.page})}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>


    </ul>
</nav>
</ul>



</body>
</html>