<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>설문 테스트</title>
</head>
<body>
<!--<input type="text" th:value="${surveysearch}">-->

<table>
    <tbody>
    <tr th:each="surveyList : ${surveyList}">
        <td th:text="${surveyList.survey_title}"></td>
        <td th:text="${surveyList.survey_content}"></td>
    </tr>
    </tbody>
</table>
<!--<input th:value="${pageMaker}">-->
<!--<ul>-->
<!--    <li> &lt;!&ndash;th:if="${pageMaker.startPage != 1}"&ndash;&gt;-->
<!--        <a th:href="${pageMaker.startPage}"></a>-->
<!--    </li>-->
<!--<script type="text/javascript">-->
<!--    createPagination(-->
<!--        "${ cri.page }", //페이지블럭-->
<!--        "${ pageMaker.totalPage }", //토탈페이지 뿌리기-->
<!--        "${ pageMaker.displayPageNum }", //한페이지 몇개 출력?-->
<!--        "${ cri.makeSearch() }" //url 만들기...-->
<!--    );-->
<!--</script>-->
</ul>



</body>
</html>