<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>설문 테스트</title>
</head>
<body>

<!--<label th:if="${param.progressing} != null and ${param.progressing} == 0">마감된 설문 목록</label>-->
<!--<label th:unless="${param.progressing} != null and ${param.progressing} == 0">진행 중인 설문</label>-->

<table>
    <tbody>
    <tr>
        <th style="width: 10px">Index</th>
        <th>제목</th>
        <th style="width: 200px">내용</th>
        <th style="width: 200px">시작</th>
        <th style="width: 200px">마감</th>
        <th style="width: 100px">진행여부</th> <!--(1 = 진행중, 0 = 마감)-->
    </tr>
<!--    <label th:if="${surveyList.survey_index} < 0">작성된 설문조사가 없습니다.</label>-->

    <tr th:each="surveyList : ${surveyList}">
        <td th:text="${surveyList.survey_index}"></td>
        <td><a th:href="@{/readSurvey(survey_index=${surveyList.survey_index},progressing=${surveyList.progressing})}"
               th:text="${surveyList.survey_title}"></a></td>
        <td th:text="${surveyList.survey_content}"></td>
        <td th:text="${surveyList.survey_reg}"></td>
        <td th:text="${surveyList.survey_end}"></td>
        <td th:if="${surveyList.progressing} == 1 ? 'moving' : 'cancelled'" th:text="${surveyList.progressing} == 1 ? '진행중' : '마감'"></td>
    </tr>
    </tbody>
</table>

<ul class="pagination pagination-sm no-margin pull-right">
    <li th:if="${pageMaker.prev} == true">
        <a th:href="@{/mainSurvey?(page=${pageMaker.startPage - 1},perPageNum=${pageMaker.cri.perPageNum})}">&laquo;이전</a>
    </li>
    <li th:if="${page} > 0" th:each="page,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}" th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
        <a th:href="@{/mainSurvey?(page=${page},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${page}"></a></li>
    </li>
    <li th:if="${pageMaker.next} == true and ${pageMaker.endPage >0}">
        <a th:href="@{/mainSurvey?(page=${pageMaker.endPage + 1},perPageNum=${pageMaker.cri.perPageNum})}">&raquo;다음</a>
    </li>
</ul>

<button onclick="location.href='/insertSurvey'">설문조사 추가</button>

</body>
</html>