<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>

    <h4>회원님의 비밀번호 입니다.</h4>

    <div>
        <label for="password">비밀번호</label>
        <input type="text" id="password" th:value="${user_pwd}">
        <a href="/login"><button type="button">확인</button></a>
    </div>


</body>
</html>