<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>readSurvey_on</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script type="text/javascript">

    function vote(){
      $.ajax({
        url: "/voteSurvey",
        //processData: false, // 데이터 객체를 문자열로 바꿀지에 대한 값이다. true면 일반문자
        //contentType: false, // 해당 타입을 true로 하면 일반 text로 구분
        type: "POST",
        dataType:"json",
        data: {
          index: $("#surveyIndex").val(),
          survey: $("input:checkbox[name=itemIndex]:checked").val()

        },
        // cache:false,
        // timeout: 600000,
        success: function(data) {
          $("#result").text(data);
          console.log("SUCCESS : ", data);
          alert("실행성공");
          $("#surveyVote").prop("disabled", false);
        },
        error: function(e) {
          $("#result").text(e.responseText);
          console.log("ERROR : ", e);
          $("#surveyVote").prop("disabled", false);
          alert('실행 중 오류가 발생 하였습니다.');
        }
      });
    }

    function clickCheck(target) {
      document.querySelectorAll(`input[type=checkbox]`)
              .forEach(el => el.checked = false);
      target.checked = true;
    }

  </script>
</head>
<body>
<form id="voteform" method="post" class="tm-signup-form row">
  <table>
    <tbody>
    <tr th:each="surveyVO : ${surveyVO}">
      <td th:text="${surveyVO.survey_title}"></td>
      <td th:text="${surveyVO.survey_content}"></td>
    </tr>
    </tbody>
  </table>

  <h2 class="tm-block-title">목록</h2>
  <div class="form-group">
    <div th:each="surveyItemList : ${surveyItemList}" class="form-check">
      <input type="checkbox" name="itemIndex" class="form-check-input"  th:value="${surveyItemList.survey_item_index}" onclick="clickCheck(this)"/>
      <input type="text" class="itemContent" name="itemContent" th:value="${surveyItemList.survey_item_content}"/>
    </div>
  </div>
  <input type="hidden" th:value="${session.id}" id="id" name="id"/>
  <input type="text" th:value="${surveyVO.survey_index}" id="surveyIndex" name="survey_index"/>
  <input type="button" onclick="vote();" value="투표"/>

</form>
<a th:href="@{/closeSurvey(survey_index=${surveyVO.survey_index})}"><button>마감</button></a><br>
<a th:href="@{/removeSurvey(survey_index=${surveyVO.survey_index})}"><button>삭제</button></a><br>
<button onclick="location.href= '/mainSurvey'">목록</button>

</body>
</html>