<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>readSurvey_off</title>
</head>
<body>

<div>
    <table>
        <tbody>
        <tr th:each="surveyItemList : ${surveyItemList}">
            <td th:text="${surveyItemList.survey_item_index}"></td>
            <td th:text="${surveyItemList.survey_item_content}"></td>
        </tr>
        </tbody>
    </table>

<div>
    <table>
        <tbody>
        <tr th:each="dataset : ${dataset}">
            <td th:text="${dataset.user_age}"></td>
            <td th:text="${dataset.user_gender}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>