<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>readSurvey_off</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">

    </script>
</head>
<body>
<table>
    <tbody>
    <tr th:each="surveyVO : ${surveyVO}">
        <td th:text="${surveyVO.survey_index}"></td>
        <td th:text="${surveyVO.survey_title}"></td>
        <td th:text="${surveyVO.survey_content}"></td>
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <h1>투표내용</h1>
    <tr th:each="surveyItemList : ${surveyItemList}">
        <td th:text="${surveyItemList.survey_item_content}"></td>
<!--        <td class="tm-hide-sm" th:text="${status.count}-${surveyItemList.count}"></td>-->
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <h1>투표결과</h1>
    <tr th:each="dataset : ${dataset}">
        <td th:text="${dataset.user_name}"></td>
        <td th:text="${dataset.user_age}"></td>
        <td th:text="${dataset.user_gender}"></td>
        <td th:text="${dataset.survey_item_index}"></td>
    </tr>
    </tbody>
</table>
<h1>결과 리스트 카운트</h1>
<div th:each="countList : ${countList}">
    <input type="text" th:value="${countList}"/><br>
</div>
</body>
</html>